:root {
   --white: #ffffff;
   --text-black: #101010;
   --text-gray: #535a65;
   --gray-bg: #f6f8f9;
   --gray-bg-100: #e9eeef;
   --gray-bg-150: #f3f5f6;
   --border: #cfd8e1;
   --main: #07cf97;
   --main-50: #ebfef6;
   --main-100: #cffce7;
   --buttonBorder: #bac5cf;
   --placeholder: #88909c;
   --disabledButton: #ecf0f2;
   --font: 16px;
}
*,
::after,
::before,
:after,
:before {
   box-sizing: border-box;
}

html {
   line-height: 1.35;
   -webkit-text-size-adjust: 100%;
   -webkit-tap-highlight-color: transparent;
   font-size: clamp(0.885rem, 1.125vw, var(--font));
}

@media screen and (max-width: 1024px) {
   html {
      font-size: var(--font);
   }
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
   display: block;
}

body {
   padding-top: 3.5rem;
   margin: 0;
   font-size: 1rem;
   font-weight: 400;
   line-height: 1.65;
   text-align: left;
   background-color: #fff;
   font-family: sans-serif;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   color: var(--text-gray);
   font-family: "Inter", "Segoe UI", "San Francisco", sans-serif;
}
body.loading * {
   transition: none !important;
}
body.body-lock {
   overflow: hidden;
}
body.noselect * {
   user-select: none;
}

[tabindex="-1"]:focus:not(:focus-visible) {
   outline: 0 !important;
}

hr {
   box-sizing: content-box;
   height: 0;
   overflow: visible;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   margin-top: 0;
   margin-bottom: 0.5rem;
   color: var(--text-black);
   font-family: "Inter", sans-serif;
   font-weight: 400;
   letter-spacing: -0.02em;
   font-weight: 300;
}

p {
   margin-top: 0;
   margin-bottom: 1rem;
   color: var(--text-gray);
   letter-spacing: -0.01em;
}

abbr[data-original-title],
abbr[title] {
   text-decoration: underline;
   -webkit-text-decoration: underline dotted;
   text-decoration: underline dotted;
   cursor: help;
   border-bottom: 0;
   -webkit-text-decoration-skip-ink: none;
   text-decoration-skip-ink: none;
}

address {
   margin-bottom: 1rem;
   font-style: normal;
   line-height: inherit;
}

dl,
ol,
ul {
   margin-top: 0;
   margin-bottom: 1rem;
}

ol ol,
ol ul,
ul ol,
ul ul {
   margin-bottom: 0;
}

dt {
   font-weight: 700;
}

dd {
   margin-bottom: 0.5rem;
   margin-left: 0;
}

blockquote {
   margin: 0 0 1rem;
}

b,
strong {
   font-weight: 500;
}

small {
   font-size: 80%;
}

sub,
sup {
   position: relative;
   font-size: 75%;
   line-height: 0;
   vertical-align: baseline;
}

sub {
   bottom: -0.25em;
}

sup {
   top: -0.5em;
}

a {
   color: inherit;
   text-decoration: none;
   background-color: transparent;
}

a:hover {
   color: inherit;
   text-decoration: none;
}

a:not([href]):not([class]) {
   color: inherit;
   text-decoration: none;
}

a:not([href]):not([class]):hover {
   color: inherit;
   text-decoration: none;
}
a[href=""] {
   cursor: default;
   pointer-events: none;
}
a[href=""]:hover {
   opacity: 1 !important;
}
code,
kbd,
pre,
samp {
   font-family: "Inter", sans-serif;
   font-size: 1em;
}

pre {
   margin-top: 0;
   margin-bottom: 1rem;
   overflow: auto;
   -ms-overflow-style: scrollbar;
}

figure {
   margin: 0 0 1rem;
}

img,
picture,
svg {
   vertical-align: middle;
   border-style: none;
   width: 100%;
   height: auto;
}

svg {
   overflow: hidden;
   vertical-align: middle;
   width: 100%;
}

table {
   border-collapse: collapse;
}

caption {
   padding-top: 0.75rem;
   padding-bottom: 0.75rem;
   color: #6c757d;
   text-align: left;
   caption-side: bottom;
}

th {
   text-align: inherit;
}

label {
   display: inline-block;
   margin-bottom: 0.5rem;
}

button {
   border-radius: 0;
}

button:focus {
   outline: 1px dotted;
   outline: 5px auto -webkit-focus-ring-color;
   outline: 0;
}

button,
input,
optgroup,
select,
textarea {
   margin: 0;
   font-family: inherit;
   font-size: inherit;
   line-height: inherit;
}

button,
input {
   overflow: visible;
}

button,
select {
   text-transform: none;
}

[role="button"] {
   cursor: pointer;
}

select {
   word-wrap: normal;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
   -webkit-appearance: button;
}

[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled),
button:not(:disabled) {
   cursor: pointer;
}

[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
   padding: 0;
   border-style: none;
}

input[type="checkbox"],
input[type="radio"] {
   box-sizing: border-box;
   padding: 0;
}

textarea {
   overflow: auto;
   resize: vertical;
}

fieldset {
   min-width: 0;
   padding: 0;
   margin: 0;
   border: 0;
}

legend {
   display: block;
   width: 100%;
   max-width: 100%;
   padding: 0;
   margin-bottom: 0.5rem;
   font-size: 1.5rem;
   line-height: inherit;
   color: inherit;
   white-space: normal;
}

progress {
   vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
   height: auto;
}

[type="search"] {
   outline-offset: -2px;
   -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
   -webkit-appearance: none;
}

::-webkit-file-upload-button {
   font: inherit;
   -webkit-appearance: button;
}

output {
   display: inline-block;
}

summary {
   display: list-item;
   cursor: pointer;
}

template {
   display: none;
}

[hidden] {
   display: none !important;
}

html {
   box-sizing: border-box;
   -ms-overflow-style: scrollbar;
}
html.wf-active body {
   font-family: "Inter", sans-serif;
}
.animate {
   visibility: hidden;
   opacity: 0;
}
.animate.fade {
   opacity: 0;
   visibility: hidden;
   transition: 350ms ease-in;
   transform: translate(0, 1.25rem);
   transition-property: opacity, visibility, transform;
}
.animate.fade.animate-active {
   opacity: 1;
   visibility: visible;
   transform: translate(0, 0%);
}
.will-load {
   animation: showLoaded 350ms ease-out backwards;
}
@keyframes showLoaded {
   0% {
      opacity: 0;
      transform: translate(0, 3rem);
   }
   100% {
      opacity: 1;
      transform: translate(0, 0);
   }
}
.container {
   max-width: 84.5rem;
   width: calc(100vw - 2rem);
   margin: 0 auto;
   padding: 0 1rem;
}

@media screen and (max-width: 1024px) {
   .container {
      width: 100%;
      padding: 0 1.25rem;
   }
}

* .m-0 {
   margin: 0;
}

* .p-0 {
   padding: 0;
}

.lazy-img img,
.lazy-img svg {
   display: block;
}
.lazy-img {
   position: relative;
}
.lazy-progress::after {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 2rem;
   height: 2rem;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 28 28'%3E%3Ccircle cx='14' cy='14' r='12' stroke='%2307cf97' stroke-opacity='.2'/%3E%3Cpath stroke='%2307cf97' stroke-linecap='round' d='M26 14A12 12 0 1 1 14 2'/%3E%3C/svg%3E");
   animation: preload 1s linear infinite;
   pointer-events: none;
   user-select: none;
}
@keyframes preload {
   0% {
      transform: translate(-50%, -50%) rotate(0);
   }
   100% {
      transform: translate(-50%, -50%) rotate(360deg);
   }
}

.s-s,
.s-c,
.c-c,
.c-s,
.c-e,
.c-sb,
.s-sb {
   display: flex;
}

.c-c,
.c-s,
.c-e,
.c-sb {
   align-items: center;
}
.s-c,
.s-sb {
   align-items: flex-start;
}
.c-e {
   justify-content: flex-end;
}

.c-sb,
.s-sb {
   justify-content: space-between;
}

.c-s,
.s-s {
   justify-content: flex-start;
}

.s-s {
   align-items: flex-start;
}

.c-c,
.s-c {
   justify-content: center;
}
.d-column {
   flex-direction: column;
}
.hidden,
.sprite-block {
   display: none;
   width: 0;
   height: 0;
}

a {
   color: #2271b1;
   transition: 200ms ease-in;
   transition-property: opacity;
}

section + section {
   margin-top: 7.5rem;
}
@media screen and (max-width: 480px) {
   section + section {
      margin-top: 3.5rem;
   }
}
/* form */
.input.text,
.input.text input {
   width: 100%;
}
.input.text input {
   outline: none;
   font-size: 1rem;
   line-height: 1.5;
   padding: 0.875rem 1rem;
   border: 1px solid var(--buttonBorder);
   border-radius: 0.25rem;
   transition: 250ms ease-in;
   transition-property: border-color;
   color: var(--text-black);
}
.input.text input:hover,
.input.text input:focus {
   border-color: var(--text-black);
}
.input.text input::placeholder {
   color: var(--placeholder);
}
.input + .input {
   margin-top: 1.5rem;
}
.input.checkbox {
   margin-bottom: 0;
}
.input.checkbox input {
   width: 0px;
   height: 0px;
   visibility: hidden;
   opacity: 0;
   z-index: -999;
}
.input.checkbox {
   display: inline-flex;
   align-items: flex-start;
   justify-content: flex-start;
   margin: 0;
   cursor: pointer;
}

.input.checkbox .like-label {
   line-height: 1.5rem;
   margin-left: 0.5rem;
}
.input.checkbox .mark {
   font-size: 1.5rem;
   width: 1em;
   height: 1em;
   border-radius: 0.25rem;
   position: relative;
   display: block;
   border: 1px solid var(--buttonBorder);
   background: transparent;
   transition: 250ms ease-in;
   transition-property: border-color, background;
}
.input.checkbox .mark::before {
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24'%3E%3Cpath d='M17.5 7 11 16.5l-5-3' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
   background-size: 1em 1em;
   opacity: 0;
   transition: 250ms ease-in;
   transition-property: opacity;
}
.input.checkbox:hover .mark {
   border-color: var(--text-black);
}

.input.checkbox input:checked + .mark:before {
   opacity: 1;
}
.input.checkbox input:checked + .mark {
   background: var(--main);
   border-color: transparent;
}
.input.submit {
   padding-top: 0.5rem;
}
.input.submit input {
   width: 100%;
}
/* lang swap */
[data-i18n] {
   transition: opacity 250ms ease;
}

.fade-out {
   opacity: 0;
}
/* words-up */
.word-scroller {
   position: relative;
   overflow: hidden;
   height: 1.25em;
   color: var(--text-black);
}
.inner-words {
   animation: scrollWord 5s infinite;
   animation-delay: 2s;
}
@keyframes scrollWord {
   0% {
      transform: translateY(0);
   }
   33% {
      transform: translateY(-25%);
   }
   66% {
      transform: translateY(-50%);
   }
   100% {
      transform: translateY(-75%);
   }
}
/* list */
ul {
   list-style: none;
   padding: 0;
}
ul li {
   position: relative;
   padding-left: 1.5em;
}
ul li::before {
   content: "—";
   font-size: 1em;
   position: absolute;
   left: 0;
   top: 0;
}
ul li + li {
   margin-top: 0.5em;
}
.no-list ul,
.no-list {
   list-style: none;
   padding: 0;
   margin: 0;
}
.no-list li:before {
   content: none;
}
.no-list li + li {
   margin: 0;
}
.no-list li {
   margin: 0;
   padding-left: 0;
}
/* icons */
.icon {
   display: inline-flex;
   align-items: center;
   justify-content: center;
}
.icon svg,
.icon img {
   width: 1em;
   height: 1em;
}
.icon-18 {
   font-size: 1.125rem;
}
.icon-24 {
   font-size: 1.5rem;
}
.icon-20 {
   font-size: 1.25rem;
}
.icon-28 {
   font-size: 1.75rem;
}
.icon-36 {
   font-size: 2.25rem;
}

.icon.c-inherit svg {
   opacity: 0.8;
}
.icon.c-inherit svg path {
   stroke: currentColor;
}
/* buttons */
.btn {
   display: inline-flex;
   justify-content: flex-start;
   align-items: center;
   outline: none;
   line-height: 1.5;
   font-size: 1rem;
   padding: 0.75rem 1.5rem;
   border-radius: 0.5rem;
   gap: 0.625rem;
   transition: 250ms ease-in;
   transition-property: none;
   background: var(--white);
}
.btn.main {
   transition-property: background;
   background: var(--text-black);
   color: var(--white);
}
.btn.main:hover {
   background: #393939;
}
.btn.outline {
   transition-property: background;
   border: 1px solid var(--buttonBorder);
   color: var(--text-black);
   padding: calc(0.75rem - 1px) calc(1.5rem - 1px);
}
.btn.outline:hover {
   background: var(--gray-bg);
}
.btn.disabled {
   background: var(--disabledButton);
   color: var(--text-black);
}
.btn.disabled .icon.c-inherit {
   opacity: 0.5;
}
.btn.disabled:hover {
   color: var(--text-black);
   cursor: not-allowed;
}
/* typography */

.title,
.title-m {
   line-height: 1.25;
}
.title {
   font-size: 2.5rem;
}
.title-m {
   font-size: 2rem;
}
.title-sm {
   font-size: 1.5rem;
   line-height: 1.35;
}
.f-20 {
   font-size: 1.25rem;
}
.f-18 {
   font-size: 1.125rem;
}
.lh-165 {
   line-height: 1.65;
}
@media screen and (max-width: 480px) {
   .title-sm {
      font-size: 1.275rem;
   }
   .title {
      font-size: 1.65rem;
   }
   .f-20 {
      font-size: 1.2rem;
   }
   .title-m {
      font-size: 1.425rem;
   }
}
/* tag */
.tag {
   font-size: 1rem;
   line-height: 1.5;
   text-transform: uppercase;
   display: inline-flex;
   width: auto;
   gap: 0.5rem;
   padding: 0.375rem 0.75rem;
   border-radius: 0.375rem;
   background: var(--white);
   border: 1px solid var(--border);
   color: var(--text-black);
   margin-bottom: 1rem;
}
.tag-sm {
   font-size: 0.875rem;
}
.header {
   position: fixed;
   left: 0;
   top: 0;
   width: 100%;
   z-index: 10;
}
.header-content {
   background: var(--white);
   padding: 0.75rem 1.25rem;
   border-radius: 0 0 1rem 1rem;
   background: rgba(255, 255, 255, 0.9);
   backdrop-filter: blur(0.75rem);
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.04), 0 0 4px 0 rgba(0, 0, 0, 0.04);
}
.logo {
   max-width: 7.25rem;
}
.nav-wrap {
   gap: 1rem;
}
.header-actions {
   gap: 0.75rem;
}
.nav {
   position: relative;
}
.nav ul {
   display: flex;
   justify-content: flex-start;
   align-items: center;
}
.nav ul a {
   display: block;
   position: relative;
   padding: 0.5rem 0.75rem;
   z-index: 1;
   color: var(--text-black);
}
.nav ul a,
.hover-bg {
   border-radius: 0.5rem;
}
.hover-bg {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   background: var(--main-100);
   transition: all 0.3s ease;
   transition-property: opacity, left, right, width;
   width: 0;
   opacity: 0;
}
.lang-selector {
   position: relative;
}
.btn.lang-btn {
   padding-left: 1rem;
   padding-right: 0.75rem;
   gap: 0.25rem;
   background: transparent;
}
.lang-menu {
   position: absolute;
   box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.08), 0 0 4px 0 rgba(0, 0, 0, 0.04);
   background: var(--white);
   padding: 0.5rem;
   width: 100%;
   border-radius: 0.5rem;
   visibility: hidden;
   opacity: 0;
   transform: translate(0, 0.5rem);
   pointer-events: none;
   transition: 250ms ease-in;
   transition-property: visibility, opacity, transform;
}
.lang-menu.active {
   visibility: visible;
   opacity: 1;
   transform: translate(0, 0);
   pointer-events: all;
}
.lang-menu .lang-item {
   padding: 0.25rem 0.5rem;
   outline: none;
   border: none;
   display: block;
   width: 100%;
   text-align: left;
   color: var(--text-black);
   border-radius: 0.5rem;
   background: var(--white);
   transition: 150ms ease-in;
   transition-property: background;
}
.lang-menu .lang-item:hover,
.lang-menu .lang-item.active {
   background: var(--main-100);
   cursor: pointer;
}
.lang-menu .lang-item.active {
   cursor: default;
}
.btn.mob-menu {
   padding: calc(0.75rem - 1px) calc(0.75rem - 1px);
   display: none;
}
@media screen and (max-width: 1120px) {
   .btn.mob-menu {
      display: flex;
   }
   .nav {
      position: absolute;
      width: 100%;
      left: 0;
      top: calc(100% + 0.5rem);
      background: rgba(255, 255, 255, 0.9);
      backdrop-filter: blur(0.75rem);
      visibility: hidden;
      opacity: 0;
      transform: translate(0, 0.5rem);
   }
   .nav ul {
      flex-direction: column;
   }
   .hover-bg {
      display: none;
   }
}
@media screen and (max-width: 560px) {
   .wallet-btn {
      display: none;
   }
}
/* hero */
.hero .title,
.hero-subtitle,
.hero-descr {
   text-align: center;
   max-width: 34rem;
}
.hero-subtitle {
   font-weight: 400;
   margin-top: 0.5rem;
}

.hero-descr {
   margin-top: 1.25rem;
   margin-bottom: 3rem;
}
.hero .tag {
   margin-bottom: 1.25rem;
}
.hero-content {
   flex-direction: column;
   padding: 4rem 2rem 5rem 2rem;
}
.hero-wrap {
   overflow: hidden;
   border-radius: 1rem;
}
.hero-content,
.hero-wrap {
   position: relative;
}
.video-bg,
.overlay {
   position: absolute;
}
.video-bg {
   width: 100%;
   height: 100%;
   left: 0;
   top: 0;
}
.overlay {
   width: 150%;
   height: 150%;
   left: -25%;
   top: -25%;
}
.video-bg video {
   width: inherit;
   height: inherit;
   object-fit: cover;
}
.lazy-progress .overlay {
   background: #ddfee8;
   backdrop-filter: blur(0);
}
.overlay {
   backdrop-filter: blur(1rem);
   background: rgba(255, 255, 255, 0.55);
}
.video-bg.lazy-progress::after {
   content: none;
}
.charts {
   margin-top: 2.5rem;
   max-width: 34ю25куь;
}
/* About */
.about-descr {
   margin: 1.5rem 0;
}
.about-img {
   overflow: hidden;
   border-radius: 0.5rem;
}
.about-wrap {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 5rem;
   align-items: center;
}
.about-img {
   width: 100%;
   height: 100%;
}
.about-img img,
.about-img picture {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
@media screen and (max-width: 1120px) {
   .about-wrap {
      column-gap: 2.5rem;
   }
}
@media screen and (max-width: 840px) {
   .about-wrap {
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
   }
   .hero-content {
      padding: 3rem 1rem 4rem 1rem;
   }
}
/* benefits */
.benefits-wrap {
   display: grid;
   grid-template-columns: 1fr 2fr;
   column-gap: 8rem;
   align-items: start;
}
.benefits-list {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 1.5rem;
   row-gap: 2.75rem;
}
.benefits-content {
   position: sticky;
   top: 6rem;
}
.benefits-item .title-sm {
   margin: 0.75rem 0;
}
.benefits-descr {
   margin: 1rem 0 2rem 0;
}
@media screen and (max-width: 1120px) {
   .benefits-wrap {
      column-gap: 2.5rem;
   }
}
@media screen and (max-width: 840px) {
   .benefits-wrap {
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
   }
   .benefits-content {
      position: static;
   }
}
@media screen and (max-width: 420px) {
   .benefits-list {
      display: grid;
      grid-template-columns: 1fr;
      row-gap: 1.75rem;
   }
}
/* testing */
.testing-wrap {
   display: grid;
   grid-template-columns: 1fr 1fr;
   column-gap: 5rem;
   background: var(--gray-bg);
   border-radius: 1rem;
   padding: 2.5rem 4rem;
}
.testing .content-footer {
   color: var(--text-black);
   font-weight: 400;
}
.testing-content {
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
}
.testing-descr {
   margin: 1rem 0;
   max-width: 28rem;
}
@media screen and (max-width: 1120px) {
   .testing-wrap {
      column-gap: 2.5rem;
   }
}
@media screen and (max-width: 840px) {
   .testing-wrap {
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
      padding: 2.5rem;
   }
}
@media screen and (max-width: 480px) {
   .testing-wrap {
      padding: 1.5rem;
   }
}
/* wallet */
.wallet {
   margin: 7.5rem 0;
}
.wallet-wrap {
   display: grid;
   grid-template-columns: 1fr 1fr;
   align-items: center;
   column-gap: 3rem;
}
.wallet .requests li,
.wallet .requests {
   gap: 0.75rem;
}
.wallet .requests li {
   background: var(--main-50);
   padding: 0.75rem 1.5rem 0.75rem 1rem;
   border-radius: 0.5rem;
}
.wallet .requests {
   margin-bottom: 2.75rem;
   color: var(--text-black);
}
.walet-info {
   margin: 1.25rem 0;
}
@media screen and (max-width: 840px) {
   .wallet-wrap {
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
   }
   .wallet-content {
      order: 2;
   }
   .wallet {
      margin: 4rem 0;
   }
}
/* partners */
.partners-list {
   margin-top: 2rem;
   display: flex;
   flex-wrap: wrap;
   align-items: center;
   justify-content: flex-start;
   column-gap: 2.5rem;
   row-gap: 1.5rem;
}
.partner img {
   max-width: 12.5rem;
   max-height: 3.5rem;
}
@media screen and (max-width: 840px) {
   .partners-list {
      margin-top: 1.5rem;
   }
   .partner img {
      max-width: 10rem;
      max-height: 3.25rem;
   }
}
/* faq */
.faq-wrap {
   display: grid;
   grid-template-columns: 1fr 2fr;
   column-gap: 8rem;
   align-items: start;
}
.faq-content {
   position: sticky;
   top: 6rem;
}
summary::-webkit-details-marker {
   display: none;
}
summary::-moz-list-bullet {
   list-style-type: none;
}
summary::marker {
   display: none;
}
summary {
   outline: none;
   list-style: none;
}

.question-name {
   grid-template-columns: 1fr 2.25rem;
   column-gap: 0.5rem;
   align-items: center;
   display: grid;
   padding: 0.75rem 0;
}
.question-title {
   margin: 0;
   font-size: 1.25rem;
}
.question-icon {
   width: 2.25rem;
   height: 2.25rem;
   background: var(--gray-20);
   display: block;
   border-radius: 2.25rem;
   transition: 250ms ease-in;
   transition-property: background;
   position: relative;
}
.question-icon::before {
   content: "";
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 48'%3E%3Cpath d='m6 9 6 6 6-6m0 30-6-6-6 6' stroke='%23302234' stroke-width='1.65' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
   width: 1.35rem;
   height: 1.35rem;
   background-size: 100% 200%;
   background-position: 0 0%;
   background-repeat: no-repeat;
   transition: 250ms ease-out;
   transition-property: background-position;
}
.faq-question {
   padding: 0.25rem 1.5rem;
   border-radius: 0.5rem;
   background: var(--gray-bg);
}
.faq-question + .faq-question {
   margin-top: 0.75rem;
}

.question-name:hover .question-icon,
.faq-question.open .question-icon {
   background: var(--gray-bg-100);
}

.faq-question.open .question-icon::before {
   background-position: 0 100%;
}
.faq-answer {
   padding-bottom: 1rem;
}
.faq-answer p {
   margin-bottom: 0.5rem;
}
.faq-answer p:last-child,
.faq-answer ul:last-child {
   margin-bottom: 0;
}
@media screen and (max-width: 1120px) {
   .faq-wrap {
      column-gap: 2.5rem;
   }
}
@media screen and (max-width: 840px) {
   .faq-wrap {
      grid-template-columns: 1fr;
      row-gap: 1.5rem;
   }
   .faq-content {
      position: static;
   }
}
/* get */
.get {
   margin: 7.75rem 0;
}
.get .title,
.get-descr {
   text-align: center;
   max-width: 30rem;
}
.get-descr {
   font-size: 1.25rem;
   margin: 1rem 0 1.5rem 0;
}
/* footer */
.footer-content {
   background: var(--gray-bg);
   padding: 1.25rem 1.5rem;
   border-radius: 1rem 1rem 0 0;
}
.contuct-item .label {
   margin-bottom: 0.125rem;
}
.rights a,
.contuct-item .label,
.copyright {
   font-size: 0.75rem;
   color: var(--text-gray);
}
.contuct-item a {
   font-size: 1.25rem;
   color: var(--text-black);
}
.rights a,
.contuct-item a {
   transition: 250ms ease-in;
   transition-property: color;
}
.contuct-item a:hover,
.rights a:hover {
   color: var(--main);
}
.rights {
   column-gap: 1rem;
   margin: 2rem 0 1rem 0;
   flex-wrap: wrap;
   row-gap: 0.5rem;
}
